.aboutParagraph{
  padding-left: 20px;
  padding-right: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
}

.backgroundBox{
  width: 225px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;

  background: rgba(0, 0, 0, 0.52);
}

img{
  width: 225px;
  height: 295px;
}

.instructorImage{

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

