.contact_image{
    width: 50vw;
}

.heading{
    font-size: 4vh;
    margin: 3vh 0 2vh 0;
}

.information{
    padding: 0 3vh;
    margin-bottom: 3vh;
}

.contact_form{
    display: flex;
    flex-direction: column;
}

.contact_form_submitted{
    display: none;
}

.contact_labels{
    position: absolute;
    font-size: 1.6vh;
    padding: .5vh 0 0 2vw;
    color: white
}

.name_field{
    margin: 0 2vw 3vh 2vw;
    position: relative;
    input {
        width: 86vw;
        border: none;
        outline: 0;
        padding: 2vh 0 0 1vh;
        background-color: #c6c6c6;
        height: 6vh;
        font-size: 2.5vh;
        color: white;
    }
}

.email_field{
    margin: 0 2vw 3vh 2vw;
    position: relative;
    input {
        width: 86vw;
        border: none;
        outline: 0;
        padding: 2vh 0 0 1vh;
        background-color: #c6c6c6;
        height: 6vh;
        font-size: 2.5vh;
        color: white;
    }
}

.message_field{
    margin: 0 2vw 3vh 2vw;
    position: relative;
    textarea {
        width: 86vw;
        border: none;
        outline: 0;
        padding: 4vh 0 0 1vh;
        background-color: #c6c6c6;
        height: 30vh;
        font-size: 2vh;
        color: white;
    }
}

.submitted_form_text{

}

.send{
    background-color: #828282;
    padding-top: .5vh;
    width: 88vw;
    align-self: center;
    color: white;
    font-size: 4vh;
    padding-bottom: .5vh;
    margin-bottom: 5vh;
}