.input_container{
    label {
        &.required_input:after {
            content:" *";
            color: red;
        }
        text-align: left;
        margin-left: 2%;
    }
    textarea{
        border: none;
        outline: 0;
        padding: 4vh 0 0 1vh;
        height: 30vh;
        font-size: 2vh;
    }
    transition: color .2s ease-in, height .2s ease-out;
    display: flex;
    flex-direction: column;
    width: 86vw;
    margin-bottom: 12%;
    border: 1px solid black;
    justify-content: space-between;
}

form .focused_input {
    input {
        margin-bottom: 2%;
    }
    label {
        text-align: center;
    }
} 