.forgot_password_form{
    display: flex;
    flex-direction: column;
    align-items: center
}

.forgot_password_form_submitted{
    display: none;
}

form .focused_input {
    input {
        margin-bottom: 2%;
    }
    label {
        text-align: center;
    }
    height: 9vh;
} 

.input_container{
    label {
        &.required_input:after {
            content:" *";
            color: red;
        }
        text-align: left;
        margin-left: 2%;
    }
    input {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        transition: margin-bottom .2s ease-out;
        text-align: center;
    }
    height: 7vh;
    transition: color .2s ease-in, height .2s ease-out;
    display: flex;
    flex-direction: column;
    width: 85vw;
    margin-bottom: 12%;
    border: 1px solid black;
    justify-content: space-between;
}

.disabled {
    opacity: .4;
}

.send_forgot_password_form{
    background-color: #5199a8;
    padding-top: 1vh;
    width: 88vw;
    align-self: center;
    color: white;
    font-size: 3vh;
    padding-bottom: 1vh;
    margin-bottom: 5vh;
}