.lesson {
    display: flex;
    flex-direction: column;
  }
  
  .cancel_lesson {
    background-color: #5199a8;
    color: white;
    width: 85vw;
    height: 6vh;
    margin-top: 2%;
    align-self: center;
  }
  
  a {
      margin-top: 5%;
  }
  