.weekDays_selector input {
    display: none!important;
}

.weekDays_selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.weekDays_selector input[type=checkbox]:checked + label {
    background: #5199a8;
    color: #ffffff;
}

select {
    background-color: #ffffff;

}