.schedule_lesson {
  h1 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 7vh;
  }
  label {
    font-weight: 300;
  }
  display: flex;
  flex-direction: column;
}

.create_lesson {
  background-color: #5199a8;
  color: white;
  width: 85vw;
  height: 6vh;
  margin-top: 2%;
  align-self: center;
}

.price {
  margin-top: 7vh;
}

.date_picker {
  div {
    margin-bottom: 4vh;
  }
}